<div *ngIf="posts$ | async as posts">

  <ng-container *ngIf="posts.state === 'pending'" class="loader">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-container *ngIf="posts.state === 'ready'" class="postsContainer">
    <div *ngFor="let myPost of posts.items">
      <mat-card>
        <mat-card-title>
          <h3>
            <small>{{myPost.id}}.</small> {{myPost.title ? myPost.title : 'Заголовка нет'}}
          </h3>
        </mat-card-title>

        <mat-card-subtitle>
          <a *ngIf="myPost.url" [href]="myPost.url">{{myPost.url}}</a>
        </mat-card-subtitle>

        <mat-card-subtitle>{{myPost.author}}</mat-card-subtitle>

        <mat-card-content [innerHTML]="myPost.text"></mat-card-content>

        <mat-card-content>
          <p>Комментариев:{{myPost.children.length}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button routerLink="/post/{{myPost.id}}">Перейти к посту</button>
          <button mat-button>LIKE</button>
          <button mat-button>&#x2661; {{myPost.points}}</button>
        </mat-card-actions>

        <mat-card-footer>Создан: {{myPost.created_at | date: 'short'}}</mat-card-footer>
      </mat-card>
      <br>
    </div>

    <div>
      <button mat-button color="primary" (click)="initPosts(3)">1</button>
      <button mat-button color="primary" (click)="initPosts(3)">2</button>
      <button mat-button color="primary" (click)="initPosts(3)">3</button>
    </div>

  </ng-container>

  <ng-container *ngIf="posts.state === 'error'">Ошибка
    <br>
    <button (click)="reload()">Обновить</button>
  </ng-container>

</div>





